
.split {
    height: 100%;
    width: 40%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}
  
.left {
    left: 0;
    background: url("https://images.pexels.com/photos/3090955/pexels-photo-3090955.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 60%;
}

.right {
    right: 0;
    background-color: whtiesmoke;
    width: 40%;
}

.centered {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.city-name {
    font-size: 80px;
    font-style: italic;
    color: whitesmoke;
    text-align: center;
    padding-top: 50px;
}

h1 {
    color: whitesmoke;
    display: block;
    margin:0 auto;
    text-align: center;
    font-size: 55px;
    padding-bottom: 20px;
}

p {
    color:whitesmoke;
    display: block;
    margin:0 auto;
    font-size: 30px;
    font-style: italic;
} 

.city-temperature {
    font-size: 130px;
    padding-left: 40px;
    font-style: italic;
}