
.split {
    height: 100%;
    width: 75%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}
  
.left {
    left: 0;
    background: url("https://images.pexels.com/photos/3090955/pexels-photo-3090955.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 35%;
    /* opacity: .75; */
}

.right {
    right: 0;
    background-color: whtiesmoke;
    width: 65%;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* .hero-img {
    background-image: url("https://images.pexels.com/photos/3090955/pexels-photo-3090955.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: contain;
    background-repeat: no-repeat;
  
    background-size: 70% 100%;
    opacity: .75;
} */


h1 {
    color: black;
    display: block;
    margin:0 auto;
    text-align: center;
    opacity: 1;
}

p {
    color:#fff;
    display: block;
    margin:0 auto;
} 